<!DOCTYPE html>
<html>
	<head>
		<link rel="Shortcut Icon" href="img/logo.ico" type="image/x-icon">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>QQ806350554</title>
		<link rel="stylesheet" type="text/css" href="style/style.css"/>
	</head>
	<body>
		<div class="refree"></div>
		<div class="head">视  频 <a href="Gifshow.apk" class="load_App">下载手机App</a></div>
		<div class="context"></div>
		<div class="video_context">
		<div class="video_head">
			<span class="_return"><</span>
				<span class="downLoad"></span>
				<span class="video_touxiang">
					<img src="" alt="???" />
				</span>
		</div>
		
		<video class='mp4'   controls="controls"></video>
		<div class="msg">
			<span class="bofangliang"><p></p> 播放</span>
			<span class="title"><p class="user_name"></p> <p class="caption"></p></span>
			<a class="down_load">下载</a>
		</div>
		</div>
	</body>
	<script src="script/jquery.js"></script>
	<script type="text/javascript" src="script/ajax.js"></script>
	<script type="text/javascript" src="script/load.js"></script>
	<script type="text/javascript">

	</script>
</html>
